trigger:
  branches:
    include:
      - main
      - dev

# Run on multiple OSes
strategy:
  matrix:
    linux:
      vmImage: 'ubuntu-latest'
    mac:
      vmImage: 'macos-latest'
    windows:
      vmImage: 'windows-latest'

pool:
  vmImage: $(vmImage)

steps:
  - task: UsePythonVersion@0
    inputs:
      versionSpec: '3.11'

  - script: |
      python -m pip install --upgrade pip
      pip install -r requirements.txt
    displayName: 'Install Python dependencies'

  - script: |
      pytest tests/ --maxfail=1 --disable-warnings -q
    displayName: 'Run unit tests'

  - script: |
      python -m src.eval.run_fairness_ci
    displayName: 'Run mini fairness check (CI sample)'

